@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

/* ...............hero.................... */
.bg-hero {
  background-image: url("../public/images/hero/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*...........main page.........*/
.rectangle-4 {
  background-color: #ffe500;
  position: relative;
}
.rectangle {
  position: absolute;
  /* height: initial; */
  top: 14rem;
  /* padding: 16px; */
  width: 50%;

  margin-left: 31px;
}

/* slider */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 7));
  }
}
.slider {
  height: 100px;
  overflow: hidden;
  position: relative;
  width: auto

}
.slider .slide-track {
  animation: scroll 15s linear infinite;
  display: flex;
  width: calc(150px * 14);
}
.slider .slide {
  height: 100px;
  width: 150px;
}